@font-face {
  font-family: 'Roboto Condensed';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../../fonts/founders-grotesk-bold.woff2') format('woff2');
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
    url('../../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('../../fonts/roboto-v30-latin-italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../../fonts/roboto-v30-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(''), url('../../fonts/roboto-v30-latin-900.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../../fonts/roboto-v30-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.knockout {
  color: blue;
  color: #fff;
  background: linear-gradient(110deg, #ffeead 33%, rgba(0, 0, 0, 0) 33%),
    linear-gradient(110deg, #c5e7d7 34%, #88d8b0 34%);
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.knockout {
  animation: Gradient 5s ease infinite;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 10% 50%;
  }
  50% {
    background-position: 35% 50%;
  }
  100% {
    background-position: 10% 50%;
  }
}
